#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#controlsContainer {
  width: 350px;
  height: 120px;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: grid;
  place-content: center;
}

#visualDiv {
  margin: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
}

#sizeForm {
  display: flex;
}

.Input {
  width: 220px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
}

.Submit {
  all: unset;
  background-color: #fff;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 10px;
}

#sizeInput:focus {
  outline: none;
}

.Input::-webkit-inner-spin-button {
  all: unset;
}

#popBtn {
  all: unset;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
}
