#wrapper {
  background-color: rebeccapurple;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

#enterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#enterContainer {
  width: 650px;
  height: 500px;
  background-color: #fafafa;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  color: rgba(0, 0, 0, 0.8);
}

#startBtn {
  all: unset;
  padding: 10px 25px;
  font-size: 18px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

#startBtn:active {
  background-color: rgba(0, 0, 0, 0.3);
}
