.wrapper {
  width: 100vw;
  height: 100vh;
}

.wrapper * {
  box-sizing: border-box;
}

.carouselWrapper {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.04);
  position: relative;
  display: flex;
  /* overflow: hidden; */
}

.slide {
  position: absolute;
  width: 100%;
  height: 500px;
  transition: transform 0.25s ease-in-out;
}

#first {
  background-color: firebrick;
}

#second {
  background-color: goldenrod;
}

#third {
  background-color: dodgerblue;
}

#forth {
  background-color: slateblue;
}
